@import 'Variables';
// font import
@font-face {
    font-family: 'Optician Sans';
    src: local('Optician-Sans'), url('../font/Optician-Sans.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

html,
body {
    @include global-style;
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    ul {
        margin: 0;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}
