@import 'Variables';

.info {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    p{
        margin: 0 0 1rem 0;
    }

    &__title {
       height: 35vh;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__copo {
            svg {
                width: 250px;
                height: 252px;
            }
        }

        &__text {

            &__ghe {
                p {
                    text-align: left;
                }
            }

            &__weber {
                a {
                    img{
                        width: 130px;
                        margin: 1rem 0 0 0;
                    }
                    cursor: pointer;
                }
            }
        }
    }

    h1,
    p {
        width: 65%;
    }

    h1 {
        @include primary-title($header2, $primary-color);
        margin: 8rem 0;
    }

    p {
        @include secondary-title($paragraph, $text-color);
    }

    @include small-screen {
        &__title {
            height: 20vh;
        }

        &__wrapper {
            &__copo {
                display: none;
            }

            &__text {
                p {
                    margin-bottom: 0;
                }
                &__weber {
                    a {
                        width: 90px;
                        margin: 1rem 0 1rem 0;
                    }
                }
            }
        }

        h1,
        p {
            width: 100%;
        }

        h1 {
            font-size: $header4;
            margin: 4rem 0;
        }

    }

    @include medium-screen {
        &__title {
            height: 30vh;
        }

        h1,
        p {
            width: 80%;
        }

        &__wrapper {
            &__copo {
                align-self: center;
                svg {
                    height: 152px;
                    width: 150px;
                }
            }
        }

    }

    @include large-screen {
        width: 1140px;
    }
}