@import 'Variables';

    #sectionPin {
        height: 100%;
        display: flex;
        overflow: hidden;
        left: 0;
    }

    .pin-wrap {
        height: 100%;
        display: flex;
        flex: 1 0 0;
    }

    .pin-wrap > .pin-img {
        background-color: red;
    }

    .pin-wrap > .pin-img ~ .pin-img {
        background-image: url("https://ik.imagekit.io/c9tj2d0xqow/tr:w-auto/2019-frutillas_JNqIbPP6M5o.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .pin-img {
        height: 50vh;
        width: 50vw;
        float: left;
        margin: 0 0 0 2rem;
    }






